
<script>
    $(function () {
        $("#ForkliftDiv").html("");
        $("#TractorDiv").html("");
        $("#TowDiv").html("");
        $("#OtherDiv").html("");
        $.ajax({
            url: "/WebSite/GetProductsList/",
            cache: false,
            type: "POST",
            success: function (data) {
                var markup = "<div class=\"small-12 columns \"><h3>內燃式發動機</h3></div>";
                for (var x = 0; x < data.Data1.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover rippler rippler-default\" onclick=\"goPD(" +
                        data.Data1[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data1[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data1[x].Name +
                        "</h3>";
                    if (data.Data1[x].OverviewTonnesStartSHOW == '' && data.Data1[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data1[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data1[x].SubTitle + " " + data.Data1[x].OverviewTonnesStartSHOW + " to " + data.Data1[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                    
                }
                markup += "<div class=\"small-12 columns \"><h3>電動式發動機</h3></div>";
                for (var x = 0; x < data.Data2.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data2[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data2[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data2[x].Name +
                        "</h3>";
                    if (data.Data2[x].OverviewTonnesStartSHOW == '' && data.Data2[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data2[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data2[x].SubTitle + " " + data.Data2[x].OverviewTonnesStartSHOW + " to " + data.Data2[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                $("#ForkliftDiv").html(markup);


                markup = "<div class=\"small-12 columns \"><h3>內燃式發動機</h3></div>";
                for (var x = 0; x < data.Data3.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data3[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data3[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data3[x].Name +
                        "</h3>";
                    if (data.Data3[x].OverviewTonnesStartSHOW == '' && data.Data3[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data3[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data3[x].SubTitle + " " + data.Data3[x].OverviewTonnesStartSHOW + " to " + data.Data3[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                markup += "<div class=\"small-12 columns \"><h3>電動式發動機</h3></div>";
                for (var x = 0; x < data.Data4.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data4[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data4[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data4[x].Name +
                        "</h3>";
                    if (data.Data4[x].OverviewTonnesStartSHOW == '' && data.Data4[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data4[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data4[x].SubTitle + " " + data.Data4[x].OverviewTonnesStartSHOW + " to " + data.Data4[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                $("#TractorDiv").html(markup);

                markup = "<div class=\"small-12 columns \"><h3>內燃式發動機</h3></div>";
                for (var x = 0; x < data.Data5.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data5[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data5[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data5[x].Name +
                        "</h3>";
                    if (data.Data5[x].OverviewTonnesStartSHOW == '' && data.Data5[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data5[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data5[x].SubTitle + " " + data.Data5[x].OverviewTonnesStartSHOW + " to " + data.Data5[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                markup += "<div class=\"small-12 columns \"><h3>電動式發動機</h3></div>";
                for (var x = 0; x < data.Data6.length; x++) {
                    markup += 
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data6[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data6[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data6[x].Name +
                        "</h3>";
                    if (data.Data6[x].OverviewTonnesStartSHOW == '' && data.Data6[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data6[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data6[x].SubTitle + " " + data.Data6[x].OverviewTonnesStartSHOW + " to " + data.Data6[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                $("#TowDiv").html(markup);

                markup = "";
                for (var x = 0; x < data.Data7.length; x++) {
                    markup +=
                        "<a class=\"small-6  medium-4 columns list_cover \" onclick=\"goPD(" +
                        data.Data7[x].Id +
                        ")\">" +
                        "<img src=\"/File/Get?FileId=" +
                        data.Data7[x].Img +
                        "\" alt=\"\">" +
                        "<h3>" +
                        data.Data7[x].Name +
                        "</h3>";
                    if (data.Data7[x].OverviewTonnesStartSHOW == '' && data.Data7[x].OverviewTonnesEndSHOW == '') {
                        markup += "<p>" + data.Data7[x].SubTitle + " </p></a>";
                    } else {
                        markup += "<p>" + data.Data7[x].SubTitle + " " + data.Data7[x].OverviewTonnesStartSHOW + " to " + data.Data7[x].OverviewTonnesEndSHOW + " ton</p></a>";
                    }
                }
                $("#OtherDiv").html(markup);
            },
            error: function (reponse) {
                //alert("error : " + reponse);
            }
        });
    });

    function goPD(id)
    {
        location.href = "/WebSite/ProductsContent?id="+id;
    }
</script>

<div class="category_title rippler rippler-default">堆高機<img src="/content/images/element_12.png" alt="" class="arrow animall"></div>
<div class="products_list">
    <div class="row medium-collapse"  id="ForkliftDiv">
       
    </div>
</div>
<div class="category_title rippler rippler-default">鏟裝機 <img src="/content/images/element_12.png" alt="" class="arrow animall"></div>
<div class="products_list" >
    <div class="row medium-collapse" id="TractorDiv">
    </div>
</div>
<div class="category_title rippler rippler-default">小拖車 <img src="/content/images/element_12.png" alt="" class="arrow animall"></div>
<div class="products_list" id="TowDiv">
    <div class="row medium-collapse">
    </div>
</div>
<div class="category_title rippler rippler-default">其它 <img src="/content/images/element_12.png" alt="" class="arrow animall"></div>
<div class="products_list" id="OtherDiv">
    <div class="row medium-collapse">
    </div>
</div>